<html>
  <body>

    <h1>T E S T I N G</h1>

      <p>THIS PAGE CONTAINS EXPLICIT IMAGES AND CONTENTS</p>

		<p><a href="http://wikitjerrta4qgz4.onion/">CLICK THIS LINK FOR HIDDEN WIKI</a></p>
         <p>CAUTION : open this link using the TOR</p>
  </body>
  <img src="https://imgur.com/NDtqmxi.png" alt="black_background" style="opacity:1;"height="1920" width="1080">
	
    <table style="color:white; width:100%; font-size:200%; position: absolute; top: 50%; left:20%;">
  <tr>
    <th>CODENAME </th>
    <th>STATUS</th> 
  </tr>
  <tr>
    <td>Z</td>
    <td>ALIVE</td>
  </tr>
  <tr>
    <td>0911</td>
    <td>ALIVE</td>
  </tr>
  <tr>
    <td>"UNKNOWN"</td>
    <td>ALIVE</td>
  </tr>
</table>

<form action="/action_page.php" style="color:white; position: absolute; top: 80%; left:20%;">
  CODENAME:<br>
  <input type="text" name="CODENAME">
  <br>
  PASSWORD:<br>
  <input type="text" name="PASSWORD">
  <br><br>
  <input type="submit" value="Submit">
</form> 

</html>
